# ここに書いたファイルはgitの対象外になります。
# すでにgit addしてしまった場合は、git rm --cached <ファイル名>として
# 管理対象から外す必要があります。
# 基本的に、コンパイル時に自動で生成されるようなファイルを追加します。

*.aux
*.log
*.synctex.gz
*.out
*.blg
*.bbl
*.toc
*.xbb
*.dvi
main.pdf
