# ここに自動テストを記述します。
# 今回はTeXなので、コンパイルが通ればテストに合格、通らなければ失敗します。

notifications:
    email: false

before_install:
  - mkdir -p $HOME/texlive && curl -L https://github.com/urdh/texlive-blob/releases/download/20160619/texlive.tar.xz | tar -JxC $HOME/texlive

install:
  - export PATH=$PATH:$HOME/texlive/bin/x86_64-linux
  - tlmgr update --self
  - tlmgr install collection-langjapanese
# 自動テストの時間を短縮するために、サーバーには最小限のパッケージしかインストールしていません。
# パッケージをTeXファイルに追加した際、自動テストのビルドが失敗する場合はここにも追加してください。
# 1つのパッケージが別のパッケージに依存する場合は、まとめて記述してください。
  - tlmgr install comment
  - tlmgr install collection-fontsextra
  - tlmgr install newtx
  - tlmgr install newpx fontaxes kastrup tex-gyre
  - tlmgr install framed
  - tlmgr install here
  - tlmgr install braket

# ここからテスト開始
script:
  - ptex2pdf -u -l -ot -interaction=batchmode main.tex
  - upbibtex main
